# Data Source: kubectl_filename_list

This provider provides a `data` resource `kubectl_filename_list` to enable ease of working with directories of kubernetes manifests.

## Example Usage

{{tffile "examples/data-sources/filename_list/example_1.tf"}}

## Attribute Reference

* `matches` - List of matching file names.
